.info_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #eceae6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.info_item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.info_text {
  font-size: 1rem;
  color: #414e54;
  margin-right: 5px;
}

.color_square {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .info_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    max-width: 100%;
  }

  .info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .info_text {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  .color_square {
    width: 18px;
    height: 18px;
  }
}