@import 'variables';

.App {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-inline: 40px;
}

.App_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 100px;
  width: 50%;
}

.right_col {
  width: 50%;
}


.info_button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: $primary-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover,
  &:focus {
    background-color: lighten($primary-color, 10%);
    box-shadow: $shadow-heavy;
  }

  &:active {
    background-color: darken($primary-color, 10%);
    transform: scale(0.98);
  }
}


@media (max-width: 750px) {
  .App {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
    padding: 10px;
  }

  .App_start {
    width: 100%;
    margin-top: 50px;
  }

  .right_col {
    width: 100%;
    margin-top: 20px;
  }

  .info_button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-right: 0;
  }
}